.recordCardWrapper {
    padding: 1rem;
    background: #fff;
    width: 100%;

    .cardHeading {
        p {
            color: rgba(0, 0, 0, 0.45);
            font-weight: bold; 
            padding-bottom: 10px;  
        }
    }
}

.recordListItem {
    display: flex;
    align-items: center;
    background-color: #F8F8F8;
    justify-content: space-between;
    padding: 5px 1rem;
    height: 39.5px;

    .icon {
        background-color: rgba(111, 106, 248, 0.2);
        color: #6F6AF8;
        padding: 3px 9px 1px 9px;
        font-size: 1rem;
        border-radius: 5px;
        cursor: pointer;
    }
}

.viewModal {
    min-width: 508.8px;

    label {
        color: #00000073 !important; 
    }
}

@media (max-width: 531px) {
    .viewModal {
        min-width: 0px;
        max-width: 508.8px;
    }
}

// .recordListItemLeft {
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    // width: 150px;
// }

.imageUploadPlaceholder {
    cursor: pointer;
}

// image preview component
.imagePreview {
    max-height: 100px;
    .iconPanel {
        position: relative;
        top: -50%;
        background: rgba(0, 0, 0, 0.628);
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin: auto;
        padding: 1rem;

        svg {
            color: rgba(255, 255, 255, 0.703);
            font-size: 1rem;

            &:hover {
                color: #fff;
                cursor: pointer;
            }
        }
    }
}

// zoomed image modal component
.zoomedImage {
    display: flex;
    justify-content: center;
    
    img {
        width: 300px;
    }
}

// vertical image upload slider
.verticalImageSlider {
    overflow-x: auto;
    max-width: 460.8px;
    display: flex;
    gap: 1rem;
    img {
        width: auto;
        max-height: 100px;
    }
}

.closeWrapper {
    background-color: rgba(250, 76, 76, 0.2);
    color: #FA4C4C;
    padding: 3px 9px 1px 9px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.listScrollArea {
    height: 250px;
    overflow-y: auto;
    margin-top: 1rem;

    .recordListWrapper {
        display: grid;
        row-gap: 1rem;
        overflow-y: auto;
    }
}