.closeWrapper {
    background-color: rgba(250, 76, 76, 0.2);
    color: #FA4C4C;
    padding: 3px 9px 1px 9px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;

    // display: flex;
}