@import '../../../../app.scss';

.cardWrapper {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    // height: 100%;
    .card {
        top: calc(50% - 424px/2 + 60px/2);
        min-width: 350px;
        min-height: 424px;
        @extend %globalAuthCard;

        .alert {
            margin-top: 1.25rem;
        }

        .header {
            text-align: center;

            h1 {
                font-size: 24px;
                font-weight: bold;
            }
            
            p {
                padding-top: 0.625rem;
                color: rgba(0, 0, 0, 0.45);
                font-weight: 500;
            }
        }

        .form {
            padding-top: 1.25rem;
        }

        .forgotPassword {
            color: #6F6AF8;
            padding-top: 0.625rem;
            text-align: center;
        }

        .link {
            color: #6F6AF8;
        }

        .longButton {
            margin-top: 0.625rem;
            width: 100%;
        }

        .signUp {
            text-align: center;
            padding-top: 0.625rem;
        }
    }
}