.app-layout {
    // container
    margin-left: 230px;
    max-width: 1300px;
    padding: 110px 1rem;

    .container {
        margin: 0 auto;
    }

    h1 {
        margin: 0;
    }
}

@media (max-width: 768px) {
    .app-layout {
        margin-left: 0px;
    }
}