@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif !important;  
    background-color: #F8F8F8;
}


.app-layout {
    // container
    // margin: auto;
    margin-left: 230px;
    padding: 110px 1rem 0 1rem;

    .container {
        max-width: 1300px;
        margin: 0 auto;
    }

    h1 {
        margin: 0;
    }
}

// global styles
.themed-button {
    background: #6F6AF8 !important;
    color: #fff !important;
    box-shadow: none !important;
    border: none !important;
    transition: 0;
}

.themed-dropdown {
    color: #6F6AF8;
    cursor: pointer;

    svg {
        fill: #6F6AF8;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
  line-height: normal;
}

p {
  margin: 0px;
  padding: 0px;
  line-height: normal;
}

.ant-modal.form-modal {
    width: auto !important;
}

@media (max-width: 768px) {
    .app-layout {
        margin-left: 0px;
    }
}