.heading {
    font-weight: bold;
    margin-bottom: 1rem;
}

.accounts {
    padding-bottom: 3rem;
}

@media(max-width: 992px) {
    .accounts {
        .col {
            &:not(:first-child) {
                margin-top: 1rem;
            }
        }
    }
}