.cardWrapper {
    .heading {
        font-size: 14px;
        font-weight: bold;
        padding-bottom: 1rem;
    }

    background: #fff;
    max-width: 570px;
    padding: 1rem;
    border-radius: 3px;
}