.accountCard {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    p {
        color: #fff;
        margin: 0px;
        padding: 0px;
    }

    img {
        max-height: 28.8px;
    }
}

@media (max-width: 768px) {
    .userName {
        display: none;
    }
}