.topNav {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    left: 0px;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
    background: #6F6AF8;
    padding: 15.6px 48px;
}

@media (max-width: 768px) {
    .topNav {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}