.heading {
    margin-bottom: 1rem;
    font-weight: bold;
}

.button {
    margin: 1rem 0;
}

.settings {
    padding-bottom: 3rem;
}

// @media(max-width: 992px) {
//     .home {
//         .col {
//             &:not(:first-child) {
//                 margin-top: 1rem;
//             }
//         }
//     }
// }